## [결측치 Missing Value 처리]
- 데이터 미입력 또는 데이터 저장 과정에서 지워진 데이터
- 빈칸 의미
- 표시 : NaN (Not A Number) NaT (Not A Text)
- 표현 : numpy 모듈의 nan, math 모듈의 nan 사용

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비 <hr>

In [2]:
file = '../DATA/employees.csv'

(3) 데이터 저장 : CSV => DataFrame

In [3]:
# 구분자: ,       헤더 : 첫번째 줄 컬럼명
empDF = pd.read_csv(file)

(4) 데이터 확인

In [5]:
# 데이터의 전반적인 요약정보 확인 => info 메서드
# - 컬럼별 결측치 여부 확인 ==> 실제 데이터에서 결측치 체크 & 처리
# - 컬럼별 데이터 타입과 실제 데이터 타입 비교 ==> 타입 다른 경우, 타입 변환
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

- 데이터의 컬럼별 분포 확인 => describe() : 컬럼별 기술통계값

In [6]:
empDF.describe()

              Salary
count     999.000000
mean    90655.528529
std     32939.511615
min     35013.000000
25%     62560.000000
50%     90427.000000
75%    118744.500000
max    149908.000000

In [8]:
# 최빈값 => mode(), 중앙값 => median()
print(empDF.mode(numeric_only=True),
      empDF.median(numeric_only=True),
      empDF.mean(numeric_only=True), sep='\n\n')

     Salary
0   86676.0
1   91462.0
2  121160.0
3  145988.0
4  147183.0

Salary    90427.0
dtype: float64

Salary    90655.528529
dtype: float64