# [DataFrame 살펴보기]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈 로딩 -------------------------

In [1]:
from pandas import DataFrame

(2) 데이터 준비 --------------------------

In [2]:
data = [[11, 22, 33], [44, 55, 66]]

(3) DataFrame으로 저장, 즉 DataFrame 객체 생성 ---------------------------

In [5]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66

(4) DataFrame의 속성 읽기 => 객체변수명.속성명 ---------------------

In [6]:
df1.index

RangeIndex(start=0, stop=2, step=1)

In [7]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [8]:
df1.values

array([[11, 22, 33],
       [44, 55, 66]], dtype=int64)

In [11]:
df1.shape

(2, 3)

In [12]:
df1.ndim

2

In [13]:
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 ==> 행과 열 지정 ===> 1개 원소

- 컬럼 즉 열 (colume) 읽기 ==> 객체변수명[인덱스]

In [22]:
df1

    0   1   2
0  11  22  33
1  44  55  66

In [23]:
df1[0]

0    11
1    44
Name: 0, dtype: int64

In [25]:
df1[1]

0    22
1    55
Name: 1, dtype: int64

In [27]:
# 컬럼 변경 ==========================
df1.columns = ['A', 'B', 'C']
df1

    A   B   C
0  11  22  33
1  44  55  66

In [28]:
df1['A']

0    11
1    44
Name: A, dtype: int64

In [29]:
df1.A

0    11
1    44
Name: A, dtype: int64

In [35]:
df1.columns = ([0, 1, 2])
df1

    0   1   2
0  11  22  33
1  44  55  66

In [36]:
df1[0]

0    11
1    44
Name: 0, dtype: int64

In [ ]:
#

- 로우 즉 행 (row) 읽기 ==> 방법 2가지
    * 위치 인덱스로 읽기 : 객체변수명.iloc[인덱스]
    * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [37]:
df1.index = ['one', 'two']
df1

      0   1   2
one  11  22  33
two  44  55  66

In [38]:
df1.loc['one']

0    11
1    22
2    33
Name: one, dtype: int64

In [39]:
df1.iloc[0]

0    11
1    22
2    33
Name: one, dtype: int64