## [Series 객체 원소 인덱싱 & 슬라이싱]

#### (1) 모듈 로딩 ------------------------------------------------

In [23]:
from pandas import Series

#### (2) 데이터 준비 ----------------------------------------------

In [24]:
datas = {'name': '홍길동', 'age': 12, 'job': '도적'}

#### (3) Series 객체 생성 ----------------------------------------

In [25]:
sr1 = Series(datas)
sr1

name    홍길동
age      12
job      도적
dtype: object

#### (3) 인덱싱으로 원소 읽기 -----------------------------------

=> 1개 원소 읽기

In [26]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2개 원소 읽기

In [27]:
# 이름과 직업 데이터 읽기 ==> 원소 단위로 읽기
sr1['name'], sr1['job'], sr1[0], sr1[2], type(sr1[0])

('홍길동', '도적', '홍길동', '도적', str)

In [28]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret = sr1[['name', 'job']]
ret2 = sr1[[0, 2]]
type(ret), ret

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [29]:
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

#### (4) 슬라이싱으로 원소 읽기 -----------------------------------

- 위치 인덱스로 슬라이싱

In [30]:
sr1[:2]  # 시작 <= ~ < 끝

name    홍길동
age      12
dtype: object

In [31]:
sr1[:]

name    홍길동
age      12
job      도적
dtype: object

In [32]:
sr1[:-1]

name    홍길동
age      12
dtype: object

In [33]:
sr1[:-2]

name    홍길동
dtype: object

- 레이블 인덱스로 읽기

In [34]:
sr1['name':'job']  # 시작 <= ~ <= 끝

name    홍길동
age      12
job      도적
dtype: object

In [35]:
sr1['name':'age']

name    홍길동
age      12
dtype: object