## [Series 데이터 연산]

(1) 모듈 로딩 <hr>

In [6]:
import pandas as pd
import numpy as np  # import math as m ==> m.nan

(2) 데이터 준비 <hr>

In [50]:
data = [5, 7, np.nan, 9, 11]
data

[5, 7, nan, 9, 11]

(3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [51]:
sr = pd.Series(data)

(4) 데이터 확인

In [52]:
sr.index, sr.shape, sr.ndim, sr.dtype, sr.size

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'), 5)

In [53]:
sr.values

array([ 5.,  7., nan,  9., 11.])

In [54]:
sr.is_unique

True

In [43]:
sr = pd.Series([1, 6, 3, 9])
sr.is_monotonic_increasing

False

In [44]:
sr

0    1
1    6
2    3
3    9
dtype: int64

In [45]:
sr.head(2), sr.tail(2)

(0    1
 1    6
 dtype: int64,
 2    3
 3    9
 dtype: int64)

In [46]:
sr.sum(skipna=False, numeric_only=True)

19

(5) 연산 수행 => Series 객체 - 연산자 - 숫자

In [55]:
sr + 5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [56]:
sr - 5

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

In [57]:
sr * 5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [58]:
sr / 5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [59]:
sr // 5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [60]:
sr % 5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [61]:
sr > 5

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [62]:
sr < 10

0     True
1     True
2    False
3     True
4    False
dtype: bool

- 논리연산 => & : and 연산 | : or 연산 ~ : not 연산

In [63]:
(sr > 5) & (sr < 10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [64]:
(sr > 5) | (sr < 10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [65]:
print(~(sr > 5), sr > 5, sep='\n\n')

0     True
1    False
2     True
3    False
4    False
dtype: bool

0    False
1     True
2    False
3     True
4     True
dtype: bool

(5) 연산 후생 => Series 객체 + Series 객체

In [21]:
data2 = [2, 4, 6, 8, 9]
sr2 = pd.Series(data2)

In [22]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr%sr2, sep='\n\n')

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [23]:
print(sr>sr2, sr<sr2, sep='\n\n')

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [24]:
sr2.index = [2, 3, 4, 5, 6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [25]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr%sr2, sep='\n\n')

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0     NaN
1     NaN
2     NaN
3    36.0
4    66.0
5     NaN
6     NaN
dtype: float64

0         NaN
1         NaN
2         NaN
3    2.250000
4    1.833333
5         NaN
6         NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    1.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [26]:
print(sr2.reset_index(), sr2.reset_index(drop=True), sep='\n\n')

   index  0
0      2  2
1      3  4
2      4  6
3      5  8
4      6  9

0    2
1    4
2    6
3    8
4    9
dtype: int64

(5) Series 연산수행 => 전용 메서드

In [27]:
print(sr.add(5), sr.add(5, fill_value=0), sep='\n\n')

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [67]:
print(sr.sub(5), sr.sub(5, fill_value=0), sep='\n\n')

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

0    0.0
1    2.0
2   -5.0
3    4.0
4    6.0
dtype: float64

In [28]:
print(sr.sub(sr2), sr.sub(sr2, fill_value=0), sep='\n\n')

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0    5.0
1    7.0
2   -2.0
3    5.0
4    5.0
5   -8.0
6   -9.0
dtype: float64

In [29]:
addSR = sr.add(sr2, fill_value=0)
subSR = sr.sub(sr2, fill_value=0)
mulSR = sr.mul(sr2, fill_value=0)
divSR = sr.div(sr2, fill_value=0)

In [30]:
addSR, subSR, mulSR, divSR

(0     5.0
 1     7.0
 2     2.0
 3    13.0
 4    17.0
 5     8.0
 6     9.0
 dtype: float64,
 0    5.0
 1    7.0
 2   -2.0
 3    5.0
 4    5.0
 5   -8.0
 6   -9.0
 dtype: float64,
 0     0.0
 1     0.0
 2     0.0
 3    36.0
 4    66.0
 5     0.0
 6     0.0
 dtype: float64,
 0         inf
 1         inf
 2    0.000000
 3    2.250000
 4    1.833333
 5    0.000000
 6    0.000000
 dtype: float64)

In [31]:
df = pd.DataFrame([addSR, subSR, mulSR, divSR], index=['add', 'sub', 'mul' ,'div'])

In [32]:
df

       0    1    2      3          4    5    6
add  5.0  7.0  2.0  13.00  17.000000  8.0  9.0
sub  5.0  7.0 -2.0   5.00   5.000000 -8.0 -9.0
mul  0.0  0.0  0.0  36.00  66.000000  0.0  0.0
div  inf  inf  0.0   2.25   1.833333  0.0  0.0

In [33]:
print(df + 5, df - 5, sep='\n\n')

        0     1    2      3          4     5     6
add  10.0  12.0  7.0  18.00  22.000000  13.0  14.0
sub  10.0  12.0  3.0  10.00  10.000000  -3.0  -4.0
mul   5.0   5.0  5.0  41.00  71.000000   5.0   5.0
div   inf   inf  5.0   7.25   6.833333   5.0   5.0

       0    1    2      3          4     5     6
add  0.0  2.0 -3.0   8.00  12.000000   3.0   4.0
sub  0.0  2.0 -7.0   0.00   0.000000 -13.0 -14.0
mul -5.0 -5.0 -5.0  31.00  61.000000  -5.0  -5.0
div  inf  inf -5.0  -2.75  -3.166667  -5.0  -5.0

In [34]:
print(df > 5, df < 5, sep='\n\n')

         0      1      2      3      4      5      6
add  False   True  False   True   True   True   True
sub  False   True  False  False  False  False  False
mul  False  False  False   True   True  False  False
div   True   True  False  False  False  False  False

         0      1     2      3      4      5      6
add  False  False  True  False  False  False  False
sub  False  False  True  False  False   True   True
mul   True   True  True  False  False   True   True
div  False  False  True   True   True   True   True

- DataFrame과 DataFrame 연산 수행 => 동일 위치의 원소끼리 연산 수행

In [35]:
df2 = df*10
df2

        0     1     2      3           4     5     6
add  50.0  70.0  20.0  130.0  170.000000  80.0  90.0
sub  50.0  70.0 -20.0   50.0   50.000000 -80.0 -90.0
mul   0.0   0.0   0.0  360.0  660.000000   0.0   0.0
div   inf   inf   0.0   22.5   18.333333   0.0   0.0

In [36]:
print(df + df2, df * df2, sep='\n\n')

        0     1     2       3           4     5     6
add  55.0  77.0  22.0  143.00  187.000000  88.0  99.0
sub  55.0  77.0 -22.0   55.00   55.000000 -88.0 -99.0
mul   0.0   0.0   0.0  396.00  726.000000   0.0   0.0
div   inf   inf   0.0   24.75   20.166667   0.0   0.0

         0      1     2          3             4      5      6
add  250.0  490.0  40.0   1690.000   2890.000000  640.0  810.0
sub  250.0  490.0  40.0    250.000    250.000000  640.0  810.0
mul    0.0    0.0   0.0  12960.000  43560.000000    0.0    0.0
div    inf    inf   0.0     50.625     33.611111    0.0    0.0

In [68]:
df.index, df.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'))

In [69]:
df2.index, df2.columns

(Index(['add', 'minus', 'mul', '/'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'))

In [37]:
df2.index=['add', 'minus', 'mul', '/']

In [38]:
print(df + df2, df * df2, sep='\n\n')

          0     1     2      3      4     5     6
/       NaN   NaN   NaN    NaN    NaN   NaN   NaN
add    55.0  77.0  22.0  143.0  187.0  88.0  99.0
div     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus   NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul     0.0   0.0   0.0  396.0  726.0   0.0   0.0
sub     NaN   NaN   NaN    NaN    NaN   NaN   NaN

           0      1     2        3        4      5      6
/        NaN    NaN   NaN      NaN      NaN    NaN    NaN
add    250.0  490.0  40.0   1690.0   2890.0  640.0  810.0
div      NaN    NaN   NaN      NaN      NaN    NaN    NaN
minus    NaN    NaN   NaN      NaN      NaN    NaN    NaN
mul      0.0    0.0   0.0  12960.0  43560.0    0.0    0.0
sub      NaN    NaN   NaN      NaN      NaN    NaN    NaN

- 연산 수행 메서드 활용 => 결측치 즉 NaN 빈칸에 대한 처리를 수행 가능
    * fill_value 파라미터에 값 설정

In [70]:
df.add(df2)

          0     1     2      3      4     5     6
/       NaN   NaN   NaN    NaN    NaN   NaN   NaN
add    55.0  77.0  22.0  143.0  187.0  88.0  99.0
div     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus   NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul     0.0   0.0   0.0  396.0  726.0   0.0   0.0
sub     NaN   NaN   NaN    NaN    NaN   NaN   NaN

In [71]:
df.add(df2, fill_value=0)

          0     1     2       3           4     5     6
/       inf   inf   0.0   22.50   18.333333   0.0   0.0
add    55.0  77.0  22.0  143.00  187.000000  88.0  99.0
div     inf   inf   0.0    2.25    1.833333   0.0   0.0
minus  50.0  70.0 -20.0   50.00   50.000000 -80.0 -90.0
mul     0.0   0.0   0.0  396.00  726.000000   0.0   0.0
sub     5.0   7.0  -2.0    5.00    5.000000  -8.0  -9.0