## [코딩 챌린지]

In [3]:
import pandas as pd
import numpy as np

In [4]:
superheroes = [
    'Batman',
    'Superman',
    'Spider-Man',
    'Iron Man',
    'Captain America',
    'Wonder Woman'
]

In [5]:
strength_levels = (100, 120, 90, 95, 110, 120)

In [6]:
# 1.
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [7]:
# 2.
pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [11]:
# 3.
heroes = pd.Series(strength_levels, index=superheroes)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [15]:
# 4.
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [16]:
# 5.
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [17]:
# 6.
heroes.nunique()

5

In [18]:
# 7.
heroes.mean()

105.83333333333333

In [19]:
# 8.
heroes.min(), heroes.max()

(90, 120)

In [21]:
# 9.
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [22]:
# 10.
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}