## [텍스트 데이터 처리]
- 다양한 형태의 텍스트 데이터를 정리하기 위한 방법들
- Serise의 str 속성을 활용해서 Str 제공 전용 메서드 사용 가능
- 사용 방법 : Serise객체.str.메서드()

- 문자열 관련 메서드들 살펴보기
(1) 공백 제거 관련 메서드 => strip(), lstrip(), rstrip()

In [1]:
msg = "   Merry Christmas     "

In [2]:
len(msg)

23

In [3]:
msg1, msg2, msg3 = msg.strip(), msg.lstrip(), msg.rstrip()

In [4]:
len(msg1), len(msg2), len(msg3)

(15, 20, 18)

<hr> (1) 모듈 로딩 <hr>

In [5]:
import pandas as pd

(2) 데이터 준비 <hr>

In [6]:
file = '../DATA/chicago_food_inspections.csv'

(3) 데이터 저장 <hr>

In [7]:
chicagoDF = pd.read_csv(file)

(4) 데이터 확인

In [8]:
chicagoDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153810 entries, 0 to 153809
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    153810 non-null  object
 1   Risk    153744 non-null  object
dtypes: object(2)
memory usage: 2.3+ MB

In [9]:
chicagoDF.head()

                          Name             Risk
0   MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                  JETS PIZZA   Risk 2 (Medium)
2                   ROOM 1520      Risk 3 (Low)
3    MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                CHARTWELLS       Risk 1 (High)

- [문제] Name 컬럼에서 공백제거 처리

In [12]:
chicagoDF['Name'] = chicagoDF['Name'].str.strip()

- [문제] Risk 컬럼에서 문자열 나누기 => Risk 숫자 => Risk와 숫자 분리

In [13]:
chicagoDF['Risk'].head()

0      Risk 1 (High)
1    Risk 2 (Medium)
2       Risk 3 (Low)
3      Risk 1 (High)
4      Risk 1 (High)
Name: Risk, dtype: object

In [14]:
chicagoDF['Risk'].nunique(), chicagoDF['Risk'].unique()

(4,
 array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All', nan],
       dtype=object))

In [15]:
chicagoDF['Risk'].isna().sum(), chicagoDF.isna().sum()

(66,
 Name     0
 Risk    66
 dtype: int64)

In [16]:
# 기본 => 행 방향, 행 내에 한개라도 NaN이 있으면 삭제
chicagoDF.dropna().shape

(153744, 2)

In [17]:
# Risk 컬럼이 NaN인 행 삭제 => subset 파라미터 적용
chicagoDF.dropna(subset=['Risk']).shape

(153744, 2)

In [18]:
# 원소의 데이터 값이 'all' => "Risk 4 (Extreme)" 변경
chicagoDF['Risk'].replace('all', 'Risk 4(Extreme)')

0           Risk 1 (High)
1         Risk 2 (Medium)
2            Risk 3 (Low)
3           Risk 1 (High)
4           Risk 1 (High)
               ...
153805      Risk 1 (High)
153806    Risk 2 (Medium)
153807      Risk 1 (High)
153808      Risk 1 (High)
153809      Risk 1 (High)
Name: Risk, Length: 153810, dtype: object

In [20]:
chicagoDF['Risk'].str.slice(5, 6)

0         1
1         2
2         3
3         1
4         1
         ..
153805    1
153806    2
153807    1
153808    1
153809    1
Name: Risk, Length: 153810, dtype: object

In [21]:
chicagoDF['Risk'].str.slice(8, -1).str.upper()

0           HIGH
1         MEDIUM
2            LOW
3           HIGH
4           HIGH
           ...
153805      HIGH
153806    MEDIUM
153807      HIGH
153808      HIGH
153809      HIGH
Name: Risk, Length: 153810, dtype: object